.ToDoListItem-todo {
  color: #000000;/*文字色*/
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.todo-text {
  padding: 0.5em 0.5em 0.5em 0.5em;
}

.delete-btn {
    padding: 0.5em 0.5em 0.5em 0.5em;
    width: 100px;
    height: 15px;

}

  